# compiled python bytecode file
*.pyc
*.pyo

# emacs backups
*~

msu-hydro-analysis/model-data/*
msu-hydro-analysis/CrossCheckSummary*
DistributionSampling/doc/cf.zip
DistributionSampling/doc/cf/*
DistributionSampling/doc/html.zip
DistributionSampling/doc/html/*
DistributionSampling/doc/latex/*
DistributionSampling/test/Gaussian2DMCMC/*
DistributionSampling/test/TestModel/*
DistributionSampling/test/DiceMCMC/DensityPlots/
DistributionSampling/test/DiceMCMC/trace/